@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Ranga:wght@700&display=swap');

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
    margin:0;
    padding:0;
}

img, fieldset {
    border:none;
}

table {
    font-size:100%;
    line-height:150%;
}

hr {
    display:none;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/****************************************
 variables
 ****************************************/
:root {
    --side-padding: max(8em, 12%);
    --main-bg: #ffede5;
    --main-text: #222;

    --top-bar-height: 4em;
    --top-bar-bg: #CE9B9B;
    --top-bar-text: #fff;
    --top-bar-shadow: rgba(0,0,0,.3);
    --button-menu-bg: #B66F6F;
    --button-menu-text: #fff;

    --menu-nav-width: 20em;

    --button-bg: #fff;
    --button-text: #222;

    --white: #fff;
    --blue: #58afe0;
    --green: #72B63D;
    --orange: #f69d4a;
    --red: #e25252;

    --card-bg: #fff;
}
/****************************************
 begin theme
 ****************************************/
body {
    font-family: "Poppins", sans-serif;
    background: var(--main-bg);
    color: var(--main-text);
    line-height: 1.8em;
    overflow-y: scroll;
}

a {
    color: inherit;
    opacity: .8;
}
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    background: var(--top-bar-bg);
    border-bottom: 1px solid rgba(0,0,0,.25);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 0 var(--side-padding);
    color: var(--top-bar-text);
}

#top-bar > * {
    display: block;
}

#main-menu {
    list-style: none;
    text-align: right;
    width: var(--menu-nav-width);
}

#main-menu ul {
    display: flex;
}

#main-menu li {
    display: block;
    flex-grow: 1;
}

/* page title */

h1 {
    font-size: 2em;
    font-family: Ranga, sans-serif;
    flex-grow: 1;
    text-shadow: .1em .1em var(--top-bar-shadow);
}

h1 a {
    text-decoration: none;
    opacity: 1;
}

main {
    margin-top: var(--top-bar-height);
    padding: 2em var(--side-padding);
}

.activity-heading {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: .4em;
}

.activity-heading h2 {
    flex-grow: 1;
}
/********************************
 components
 ********************************/

.button {
    --shadow-color: rgba(0,0,0,.4);
    background: var(--button-bg);
    color: var(--button-text);
    display: inline-block;
    padding: .2em 1em;
    margin: .3em .2em;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 .1em .1em var(--shadow-color);
    border: 1px solid rgba(0,0,0,.1);
    opacity: 1;
    letter-spacing: .04em;
    font-size: .9em;
    transition: .4s box-shadow;
    font-family: inherit;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 .3em .6em var(--shadow-color);
}

.button--menu {
    --shadow-color: rgba(87, 29, 29, 0.6);
    background: var(--button-menu-bg);
    color: var(--button-menu-text);
}

.button--view {
    --shadow-color: rgba(6, 89, 239, 0.6);
    background: var(--blue);
    color: var(--white);
}

.button--edit {
    --shadow-color: rgba(255, 163, 43, 0.6);
    background: var(--orange);
    color: var(--white);
}

.button--delete {
    --shadow-color: rgba(239, 6, 6, 0.6);
    background: var(--red);
    color: var(--white);
}

.button--add {
    --shadow-color: rgba(27, 94, 0, 0.6);
    background: var(--green);
    color: var(--white);
}

.card {
    display: flex;
    flex-direction: row;
    transition: .3s transform;
    transform: perspective(800px) translateZ(0);
}

.card:hover {
    transform: perspective(800px) translateZ(3em);
}

.card--start-animation {
    animation: card-in .5s;
}

@keyframes card-in {
    from {transform: perspective(800px) rotateX(23deg) translateZ(5em); opacity: 0;}
    to {transform: perspective(800px) rotateX(0deg); opacity: 1;}
}
.card__time, .card__details {
    background: var(--card-bg);
    margin: .4em;
    padding: .8em 1.2em;
    border-radius: 10px;
    box-shadow: 0 .3em .6em rgba(0,0,0,.3);
}

.card__details {
    flex-grow: 1;
}

.card__time {
    display: flex;
    align-items: center;
    min-width: 10em;
}

.card__time h3 {
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.2em;
}

.card__time h3 > span:nth-of-type(1){
    font-size: .8em;
}

.card__details {
    display: flex;
}

.card__description {
    flex-grow: 1;
    padding-right: 1em;
}

.card__description h4 {
    font-size: 1.2em;
    line-height: 2.4em;
    display: flex;
    align-items: center;
}

.card__actions {
    list-style-type: none;
    text-align: center;
}

.card__actions .button {
    width: 100%;
}

.card__badge {
    font-size: .6em;
    text-transform: uppercase;
    background-color: var(--badge-color, #333);
    border-radius: 99em;
    padding: .1em .8em;
    margin-left: 1em;
    height: 2em;
    line-height: 2em;
    color: #fff;
    font-weight: 400;
    letter-spacing: .1em;
}

.hidden {
    font-size: 0;
}

form {
    background: var(--card-bg);
    margin: .4em;
    padding: .8em 1.2em;
    border-radius: 10px;
    box-shadow: 0 .3em .6em rgba(0,0,0,.3);
    overflow: auto;
}

form fieldset {
    display: flex;
    flex-direction: column;
}

form input[type=text], form textarea {
    border: 1px solid #ddd;
    font-size: 1em;
    font-family: Poppins, sans-serif;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px inset #ccc;
}

form textarea {
    width: 100% !important;
}

form fieldset > legend {
    font-size: 1.25em;
    font-weight: bold;
    padding: .5em 0;
}

.hidden-and-submit {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5em;
}

form input[type=submit] {
    display: block;
    padding: .5em 1em;
}

form select {
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 10px #ccc;
    padding: .5em;
    font-size: 1em;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
}

form input:focus, form textarea:focus, form select:focus {
    box-shadow: 0 0 0 3px var(--orange);
}

.fullsize-form-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,.7);
	animation: .5s form-fade-in alternate;
}

.fullsize-form-container-out {
	animation: .5s form-fade-out;
}

.fullsize-form-container > form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(100%, 50em);
}

.form-begin-animation {
	animation: .5s form-fly-in;
}

@keyframes form-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes form-fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes form-fly-in {
  from { top: 48%; }
  to {top: 50%;}
}

.notification {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	background-color: var(--white);
	padding: .5em;
	text-align: center;
	box-shadow: 0 -3px 25px rgba(0,0,0,.4);
	animation: .5s notification-start;
	font-weight:bold;
    z-index: 9999;
}

.notification--animation-end {
	animation: .5s notification-end;
}

.notification--success {
	background-color: var(--green);
	color: var(--white);
}

@keyframes notification-start {
	from { bottom: -9em; }
	to { bottom: 0; }
}

@keyframes notification-end {
	from { bottom: 0; }
	to { bottom: -9em; }
}
