<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% yield title %}</title>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
        <link rel="stylesheet" href="/assets/screen.css" media="screen">
    </head>
    <body>
    <header id="top-bar">
        <h1>EverydayTasks</h1>
        <nav id="main-menu">
            <ul>
                <li><a href="/activity/" class="button button--menu" data-link>Activities</a></li>
                <li><a href="/task/" class="button button--menu" data-link>Tasks</a></li>
                <li><a href="/projects/" class="button button--menu" data-link>Projects</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% yield content %}
        {% if (!empty($notifications)): %}
        {% foreach($notifications as $notification): %}
        <div class="notification notification--{{{ $notification['type'] }}}">
            {{{ $notification['message'] }}}
        </div>
        {% endforeach; %}
        {% endif; %}
    </main>

    <script src="/assets/vendor/bliss.min.js"></script>
    <script src="/assets/script.js"></script>
    </body>
</html>
