{% extends Templates/_base.html %}

{% block title %}
  My Activities
{% endblock %}

{% block content %}
<header class="activity-heading">
  {% if ($is_view_today): %}
    <h2>Today's Activities ({{{ $today->format("l, j F Y") }}})</h2>
    <a href="add" class="button button--add" id="add" data-link>Add</a>
  {% else: %}
    <h2>All Activities</h2>
    <a href="add" class="button button--add" id="add" data-link>Add</a>
  {% endif; %}
</header>

{% if ($is_view_today): %}
<a href="all" id="view-all-activities" data-link>View all activities</a>
{% endif; %}

{% foreach ($activities as $activity): %}
  <section class="card">
    <div class="card__time">
      <h3>
          <span>{{{ ltrim($activity->date_time->format("d M"), "0") }}}</span>
          <br>
          <span>{{{ $activity->date_time->format("H:i") }}}</span>
      </h3>
    </div>
    <div class="card__details">
      <div class="card__description">
        <h4>{{{ $activity->getSubject() }}}
          {% if (!empty($activity->getCategory())): %}
          <span class="hidden">, categorized in</span>
          <span class="card__badge" style="--badge-color: #{{{ str_pad(sprintf('%06x', $activity->getCategory()->color), 6, '0', STR_PAD_LEFT) }}}">
                  {{{ $activity->getCategory()->getTitle() }}}
                </span>
          {% endif; %}
        </h4>
        <p>{{{ $activity->getDescription() }}}</p>
      </div>
      <ul class="card__actions">
<!--        <li><a href="{{{ $activity->getID() }}}" class="button button&#45;&#45;view">View</a></li>-->
        <li><a href="{{{ $activity->getID() }}}/edit" class="button button--edit" data-link>Edit</a></li>
        <li><a href="{{{ $activity->getID() }}}/delete" class="button button--delete" data-link>Delete</a></li>
      </ul>
    </div>
  </section>
  {% endforeach; %}
{% endblock %}
