{% extends Templates/_base.html %}

{% block title %}
  My Activities
{% endblock %}

{% block content %}
<header id="todays-activities">
  <h2>Today's Activities ({{{ $today->format("l, j F Y") }}})</h2>
  <a href="add" class="button button--add">Add</a>
</header>

{% foreach ($activities as $activity): %}
  <section class="card">
    <div class="card__time">
      <h3>{{{ $activity->date_time->format("H:i") }}}</h3>
    </div>
    <div class="card__details">
      <div class="card__description">
        <h4>{{{ $activity->getSubject() }}}
          {% if (!empty($activity->getCategory())): %}
          <span class="hidden">, categorized in</span>
          <span class="card__badge" style="--badge-color: #{{{ sprintf('%06x', $activity->getCategory()->color) }}}">
                  {{{ $activity->getCategory()->getTitle() }}}
                </span>
          {% endif; %}
        </h4>
        <p>{{{ $activity->getDescription() }}}</p>
      </div>
      <ul class="card__actions">
        <li><a href="{{{ $activity->getID() }}}" class="button button--view">View</a></li>
        <li><a href="{{{ $activity->getID() }}}/edit" class="button button--edit">Edit</a></li>
        <li><a href="{{{ $activity->getID() }}}/delete" class="button button--delete">Delete</a></li>
      </ul>
    </div>
  </section>
  {% endforeach; %}

  <a href="#">View all activities</a>
{% endblock %}
