{% extends Templates/_base.html %}

{% block title %}
{{{ $page_title }}}
{% endblock %}

{% block content %}
<header class="activity-heading">
    <h2>{{{ $page_heading }}}</h2>
</header>

{% if (!empty($activity)): %}
<form method="post" id="edit-form">
    <fieldset>
        <legend>Activity Details</legend>
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" value="{{{ $activity->getSubject() }}}">
        <br>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="3">{{{ $activity->getDescription() }}}</textarea>
        <br>
        <label for="category">Category</label>
        <select name="category" id="category">
        {% foreach ( $category_list as $category ): %}
            <option value="">-- No category --</option>
            <option value="{{{ $category->getID() }}}" {% if($activity->getCategory() == $category) echo "selected" %}>{{{ $category->getTitle() }}}</option>
        {% endforeach; %}
        </select>
    </fieldset>
    <fieldset class="hidden-and-submit">
        <input type="hidden" name="anticsrf" value="MyACSRFValue">
        <input type="submit" class="button button--edit">
    </fieldset>
</form>
{% else: %}
<p>Invalid activity ID.</p>
{% endif; %}

{% endblock %}
