{% extends Templates/_base.html %}

{% block title %}
Introduce Yourself
{% endblock %}

{% block content %}
<header class="activity-heading">
    <h2>{{{ $pagetitle }}}</h2>
</header>

{% if ($register_prompt): %}
<p>If you aren't registered, please <a href="/register">do so here</a>.</p>
{% endif; %}

<form method="post" id="edit-form">
    <fieldset>
        <label for="username">Your name</label>
        <input name="un" id="username" pattern="[a-zA-Z 0-9]+" required>
        <label for="password">Password</label>
        <input name="pw" type="password" id="password" required>
    </fieldset>
    <fieldset class="hidden-and-submit">
        <input type="submit" value="Enter" class="button button--edit">
    </fieldset>
</form>

{% endblock %}
