{% extends Templates/_base.html %}

{% block title %}
  My Tasks
{% endblock %}

{% block content %}
<header class="activity-heading">
  {% if ($is_view_today): %}
    <h2>Tasks Left to Do</h2>
    <a href="add" class="button button--add" id="add" data-link>Add</a>
  {% else: %}
    <h2>All Tasks</h2>
    <a href="add" class="button button--add" id="add" data-link>Add</a>
  {% endif; %}
</header>

{% if ($is_view_today): %}
<a href="all" id="view-all-activities" data-link>View all tasks</a>
{% endif; %}

{% foreach ($tasks as $task): %}
  <section class="card">
    <div class="card__time">
      <h3>
          <span>{{{ ltrim($task->due->format("d M"), "0") }}}</span>
          <br>
          <span>{{{ $task->due->format("H:i") }}}</span>
      </h3>
    </div>
    <div class="card__details">
      <div class="card__description">
        <h4>{{{ $task->getSubject() }}}
          {% if (!empty($task->getCategory())): %}
          <span class="hidden">, categorized in</span>
          <span class="card__badge" style="--badge-color: #{{{ sprintf('%06x', $task->getCategory()->color) }}}">
                  {{{ $task->getCategory()->getTitle() }}}
                </span>
          {% endif; %}
        </h4>
        <p>{{{ $task->getDescription() }}}</p>
      </div>
      <ul class="card__actions">
        <li><a href="{{{ $task->getID() }}}/finish" class="button button--view">Finish</a></li>
        <li><a href="{{{ $task->getID() }}}/edit" class="button button--edit" data-link>Edit</a></li>
        <li><a href="{{{ $task->getID() }}}/delete" class="button button--delete" data-link>Delete</a></li>
      </ul>
    </div>
  </section>
  {% endforeach; %}
{% endblock %}
